#{extends './equipe.html' /}

<h1>Earle Castaldine</h1>

        <h2>Quelles études avez-vous effectué ? </h2>
        <p> j'ai fait un Master.  </p>
        <h2> Quelle est votre spécialité? </h2>
        <p> Earle est un javascripteur. </p>
         <p> Oui j'ai écris un livre qui se nomme <a href="http://www.sitepoint.com/books/jquery1/">jquery:from novice to ninja.</a> </p>
        <h2>En ce moment sur quel projet travaillez-vous?</h2>
        <p>Earle travaille sur beaucoup de projets comme l'application "décathlon" mobile et il utilise la technologie
           strike pour faire l'application.  </p>
        <h2> En quoi consiste votre métier ?         </h2>
        <p> Mon métier consiste  à développer des applications pour téléphone.</p>
        <h2>Qu'est qui vous plaît chez zenexity? </h2>
        <p>Les projets chez zenexity sont très intéressants et sont mieux que dans
        les autres sociétés.</P>
       
