#{extends './equipe.html' /}
 <h2>Quelles études avez-vous effectué ? </h2>
        <p> je suis pleine formation je suis dans une école d'ingénieur </p>       
        <h2> Quel votre spécialité? </h2>
        <p>les nouvel techologie exemple (html5 et css3).   </p>
        <h2>En ce moment sur quel projet travaillez-vous?</h2>
        <p>Mon projet actuel  </p>
        <h2> En quoi consiste votre métier ?   </h2>
        <p > mon metier consiste a a faire des application web pour des client .   </p>
        <h2>Qu'est qui vous plait chez zenexity? </h2>
        <p> la passsion pour les nouvels technologie. </P>
