#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Présentation de l'entreprise</h1>
  <h4><a href="http://www.zenexity.fr/">Zenexity</a></h4>
<p> Zenexity a été créé en 2004 par une équipe d’architectes logiciels spécialisés dans les architectures pures Web. Notre cœur de métier est d’aider les entreprises à transformer le métier et le SI pour aller vers Internet en capitalisant au maximum sur l’existant et maîtrisant la sécurité.

L’excellence de Zenexity a été reconnue par des grandes entreprises prestigieuses telles que Apple, qui a utilisé l’application iPhone AbikeNow dans sa publicité pour l’iphone 3G, ou Capgemini Institut qui référence 6 séminaires Zenexity dans son catalogue de formation.

Zenexity est une société qui investit plus de 20% de son CA en R&D et qui affiche un bénéfice net après impôts de 20 % depuis sa création. Le secret réside dans la réussite totale de tous nos projets y compris ceux qui représentent des complexités inédites.

Zenexity prouve la réalité de son savoir-faire et son excellence technique réelle dans la maîtrise des architectures et des projets informatiques complexes à travers, certes ses références client, mais aussi son département R&D « Zenexity Labs » qui conçoit, réalise et publie sous la forme de logiciels libres des produits innovants qui pour la plupart sont adoptés par de très grandes entreprises.

Nous intervenons sur les problématiques très complexes de construction de SI modernes alignés sur le Web. La e-administration et l’open source sont au cœur de notre stratégie de développement. Il s’agit en effet d’aligner le SI de la collectivité sur les exigences d’internet et du Web. Zenexity agit en réducteur de risques à même d’accompagner les transformations dans les architectures techniques et fonctionnelles, dans les pratiques et les usages, dans les organisations et dans les compétences des hommes.

Plusieurs grandes SSII (Business et Décision, Capgemini, BULL, etc.) et éditeurs logiciels (Civitas, Logica / Grand Angle, etc.) ont fait appel à l’expertise pointue de Zenexity dans le cadre de grands projets complexes de transformation de SI vers Internet et la e-administration notamment.</P>

