#{extends 'main.html' /}
<h1>Mon journal de bord</strong></h1>

<h2>le premier jour </h2>
<p>Aujourd'hui j'ai fait la connaissance avec les employés de la société
<a href="http://www.zenexity.fr/">zenexity</a>.<br>
J ai eu  l idée d écrire mon rapport de stage avec l outil de la société de zenexity qui se 
nomme <a href="http://www.playframework.org/documentation/1.1/guide1">play framework</a>.<br/>
Mon responsable, M. Sébastien Crème m'a expliqué les principes du <STRONG>WEB</STRONG>.
<h3>J'ai interviewé des employés de zenexity.</h3>
<ul class="question general">
<li> Quelle étude à vous effectuer ?</li>
<li> Quel votre spécialiter ? </li>
<li> En ce moment sur quel projet traivaill-vous ? </li>
<li> En quoi consiste votre métier ? </li>
<li> Qu'est qui vous plaît ce zenexity ?</li> 
</ul>

<h2>Le deuxiéme jour </h2>
<p class="sommaire">Aujourd'hui j'ai fait l'interview du personel de zenexity,
c'est une bonne journée  j'ai interview "Sadek Drobi","rafik Djedjig","gwenelle Goerget","Earle Castledine"
et aussi j'ai acquis de nouvelles connaissances dans la programmation html.  </p>

<h2>Mon troisième jour </h2>
<P class="sommaire">Aujourd'hui j'ai appris a me servir de <a href="https://github.com/"><b>git hub</b></a>,j'ai  appris de nouvelles choses sur
la programation <b>html</b>;j'ai fait du <a href="http://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade"><strong>css</strong></a>
(Cascading Style Sheets : feuilles de style en cascade).   </p>

<h2> Mon quatrième jours   </h2>
<p class="sommaire">Aujourd'hui, j' ai apris a styler mon site <b>mon rapport de stage</b> j'ai utiliser les outils  informatiques
mis a disposition par zenexity.j'ai assister â des creations de devellopement web. </p>



<h2> Mon dernier jour au sein de <b>l'entreprise zenexity</b> </h2>
 <p class"sommmaire">Mon dernier jour ,j'ai assister a une reunnion qui s'appele <b>wrap-up</b> qui signifie rapport de  la semaine
 chez zenexity.  </p>





