#{extends 'main.html' /}
<h1>Mon journal de bord</strong></h1>

<h2>le premier jour </h2>
<p>Aujourd'hui j'ai fait la connaissance avec les employés de la société
<a href="http://www.zenexity.fr/">zenexity</a>.<br>
J ai eu  l idée d écris mon rapport de stage avec l outil de la société de zenexity qui se 
nomme <a href="http://www.playframework.org/documentation/1.1/guide1">play framework</a>.<br/>
Mon responsable M. Sébastien Crème m'a expliqué les principes du <STRONG>WEB</STRONG>.
<h3>J'ai interviewé des employés de zenexity?</h3>
<ul class="question general">
<li> Quelle étude à vous effectuer ?</li>
<li> Quel votre spécialiter ? </li>
<li> En ce moment sur quel projet traivaill-vous ? </li>
<li> En quoi consiste votre métier ? </li>
<li> Qu'est qui vous plait ce zeneity ?</li> 
</ul>

<h2>Le deuxiéme jour </h2>
<p class="sommaire">Aujourd'hui j'ai fait l'interview du perssonel de zenexity,
c'est une bonne journée  ai interview "Sadek Drobi","rafik Djedjig","gwenelle Goerget","Earle Castledine".
et aussi j'ai acquis de nouvel connaissance dans la programmation html.  </p>

<h2>Mon troisième jour </h2>
<P classs="sommaire">Aujourd'hui j'ai appris a meux sevire de <b>git hub</b>,j'ai  appris de nouvel chose sur
la programation <b>html</b>;j'ai fait du <a href="http://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade"><strong>css</strong></a>.



                                                                        </p>
