#{extends 'main.html' /}
<h1>Mon journal de bord</strong></h1>

<h2>Le premier jour </h2>
<p>Aujourd'hui j'ai fait connaissance avec les employés de la société
<a href="http://www.zenexity.fr/">zenexity</a>.<br>
J ai eu  l'idée d'écrire mon rapport de stage avec l'outil de la société de zenexity qui se 
nomme <a href="http://www.playframework.org/documentation/1.1/guide1">play framework</a>.<br/>
Mon responsable, M. Sébastien Crème m'a expliqué les principes du <STRONG>WEB</STRONG>.
<h3>J'ai interviewé des employés de zenexity.</h3>
<ul class="question general">
<li> Quelle étude avez-vous effectué ?</li>
<li> Quelle est votre spécialité ? </li>
<li> En ce moment sur quel projet traivaillez-vous ? </li>
<li> En quoi consiste votre métier ? </li>
<li> Qu'est-ce qui vous plaît chez zenexity ?</li> 
</ul>

<h2>Le deuxième jour </h2>
<p class="sommaire">Aujourd'hui j'ai fait l'interview du personel de zenexity,
c'est une bonne journée  j'ai interviewé "Sadek Drobi","rafik Djedjig","gwenelle Goerget","Earle Castledine"
et aussi j'ai acquis de nouvelles connaissances dans la programmation html.  </p>

<h2>Mon troisième jour </h2>
<P class="sommaire">Aujourd'hui j'ai appris à me servir de <a href="https://github.com/"><b>git hub</b></a>,j'ai  appris de nouvelles choses sur
la programation <b>html</b>;j'ai fait du <a href="http://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade"><strong>css</strong></a>
(Cascading Style Sheets : feuilles de style en cascade).   </p>

<h2> Mon quatrième jour   </h2>
<p class="sommaire">Aujourd'hui, j' ai appris a styler mon site <b>mon rapport de stage</b> j'ai utilisé les outils  informatiques
mis a disposition par zenexity.j'ai assisté â des creations de devellopement web. </p>



<h2> Mon dernier jour au sein de <b>l'entreprise zenexity</b> </h2>
 <p class"sommmaire">Mon dernier jour ,j'ai assisté à une réunion qui s'appelle un <b>wrap-up</b> qui signifie rapport de  la semaine
 chez zenexity.  </p>





