  #{extends './equipe.html' /}
    <h2>Quelles études avez-vous effectué ? </h2>
        <p>j'ai fait un d.e.s.s (master 2) en applicaton internet.  </p>       
        <h2> Quel votre spécialité? </h2>
        <p>Ma spécialité ce le software design.  </p>
        <h2>En ce moment sur quel projet travaillez-vous?</h2>
        <p>je travaille  sur des applications web et mobile comme véolia ,euro facteur et crédit agricole.   </p>
        <h2>Qu'est qui vous plaît chez zenexity? </h2>
        <p>L'innovation et la concrétisation des projets chez zenexity.          </P>

  
